<div class="container" style="display: flex;align-items: center;justify-content: center;height: 100vh;">
 
  <div>
    <button class="button-17" *ngIf="!showWebView" (click)="openWebView()">Open WebView</button>
  </div>
  <div *ngIf="showWebView">
    <iframe
      style="width: 100vw; height: 100vh; border: 0px!important; margin: 0px!important"
      src="https://webview.agenciallumine.com.br"
      nodeintegration
      allow="autoplay; camera; microphone"
    ></iframe>
  </div>
</div>
